name: Implementation Tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-postgres-backend:
    strategy:
      fail-fast: false
      matrix:
        platform: [ ubuntu-latest ]
        toolchain: [ stable, 1.85.0 ] # 1.85.0 is the MSRV
    runs-on: ${{ matrix.platform }}

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: vss-server

      - name: Run postgres backend test suite
        run: |
          cd vss-server/rust/impls
          cargo test -- --test-threads=1
