name: LDK Node Integration Tests

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: vss-server
      - name: Checkout LDK Node
        uses: actions/checkout@v3
        with:
          repository: lightningdevkit/ldk-node
          path: ldk-node

      - name: Build and Deploy VSS Server
        run: |
          cd vss-server/rust
          cargo build
          cargo run --no-default-features server/vss-server-config.toml&
      - name: Run LDK Node Integration tests
        run: |
          cd ldk-node
          export TEST_VSS_BASE_URL="http://localhost:8080/vss"
          RUSTFLAGS="--cfg vss_test" cargo test io::vss_store -- --test-threads=1
          RUSTFLAGS="--cfg vss_test" cargo test --test integration_tests_vss -- --test-threads=1
